.hero {
    background-image: url('../images/pkemon_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; //centra la imagen del banner
    
    padding: 11%;
}